In [72]:
import pandas as pd

from sdv.tabular import TVAE
from sdv.constraints import CustomConstraint
from sdv.constraints import ColumnFormula

import random
from random import choice

import string
from string import ascii_uppercase

import warnings
warnings.filterwarnings("ignore")

data = pd.read_csv('data/samples.csv')

In [73]:
model = TVAE()
model.fit(data)

new_data = model.sample(num_rows=10)
print(new_data)

   ID First name Last name Department  Location  Salary  \
0   8        Nil     Swain         HR    Mumbai     123
1   5      Jamie     Smith         HR    Mumbai     123
2   6    Yogesh      Pawar         HR      Pune     139
3   5        Sam     Pawar         IT      Pune     129
4   8        Nil     Swain         IT  Scotland     193
5   5      Jamie     Smith         HR    Mumbai     123
6   5    Yogesh    Johnson         IT    London     123
7   5       Mary     Smith         IT    Mumbai     123
8   3       Mary   Jenkins         IT    Mumbai     155
9   7    Yogesh      Patel   Computer      Pune     209

                    Email  Age   UID
0     Nil.Swain@gmail.com   26  1007
1   Jamie.Smith@gmail.com   42  1005
2     Sam.Pawar@gmail.com   32  1003
3     Sam.Pawar@gmail.com   28  1005
4     Nil.Swain@gmail.com   35  1008
5   Jamie.Smith@gmail.com   34  1004
6  Yogesh.Patel@gmail.com   28  1006
7  Mary.Jenkins@gmail.com   31  1004
8  Mary.Jenkins@gmail.com   41  1006
9  Yogesh.Patel@gmail.com   28  1006

In [74]:
constraints = []

In [67]:
def generate_email(data):
        data['Email'] = data['First name'] + "." + data['Last name'] + '@gmail.com'
        return data['Email']

email_constraints = ColumnFormula(
    column='Email',
    formula=generate_email,
    handling_strategy='transform')

constraints.append(email_constraints)

In [68]:
def generate_arbitary_string_series(data):
    data=''.join(random.choices(string.ascii_letters, k=len(str(data))))
    return data

def generate_arbitary_string(column_data): 
    return column_data.apply(generate_arbitary_string_series)

arbitary_string_constraints = CustomConstraint(
                                columns=['First name', 'Last name'],
                                transform=generate_arbitary_string)

constraints.append(arbitary_string_constraints)

In [69]:
def generate_arbitary_number_series(data):
    data=random.randint(0, 100)
    return data

def generate_arbitary_number(column_data): 
    return column_data.apply(generate_arbitary_number_series)

arbitary_number_constraints = CustomConstraint(
                                columns=['Age'],
                                transform=generate_arbitary_number)

constraints.append(arbitary_number_constraints)

In [70]:
def multiply_with_1000(column_data):
    return column_data  * 1000

multiply_constraint =  CustomConstraint(
    columns=['Salary'], 
    transform=multiply_with_1000)

constraints.append(multiply_constraint)

In [71]:
model = TVAE(primary_key='ID', constraints=constraints) 
model.fit(data)

synthetic_data_clients = model.sample(15)
print(synthetic_data_clients)

    ID First name Last name Department  Location  Salary  \
0    0      RfcaT   zgdlkNX         IT      Pune  124000
1    1        Mkb     aeJFI   Computer    Mumbai  163000
2    2        Mkb     GZfFc      Admin    Mumbai  123000
3    3      pPqNT     yWqoy         IT    Mumbai  151000
4    4        Mkb     aeJFI   Computer    Mumbai  161000
5    5      pPqNT     yWqoy         IT    Mumbai  123000
6    6    TAGddwa     pYetn         IT    London  125000
7    7        ZXp     GZfFc         HR    Mumbai  167000
8    8    oxvEcIn       ped         IT      Pune  164000
9    9     RRpZWO    zbgaDA         IT      Pune  155000
10  10      pPqNT     pYetn         IT    Mumbai  145000
11  11      pPqNT     pYetn         IT    Mumbai  123000
12  12    TAGddwa     yWqoy         IT      Pune  159000
13  13    oxvEcIn       ped         IT  Amritsar  391000
14  14        Mkb     pYetn         IT    Mumbai  139000

                      Email  Age   UID
0   RfcaT.zgdlkNX@gmail.com   15  1004
1       Mkb.aeJFI@gmail.com   53  1004
2       Mkb.GZfFc@gmail.com   42  1008
3     pPqNT.yWqoy@gmail.com   44  1003
4       Mkb.aeJFI@gmail.com   54  1007
5     pPqNT.yWqoy@gmail.com   32  1002
6   TAGddwa.pYetn@gmail.com   40  1003
7       ZXp.GZfFc@gmail.com   26  1006
8     oxvEcIn.ped@gmail.com   28  1007
9   RRpZWO.zbgaDA@gmail.com   36  1005
10    pPqNT.pYetn@gmail.com   38  1002
11    pPqNT.pYetn@gmail.com   31  1001
12  TAGddwa.yWqoy@gmail.com   27  1000
13    oxvEcIn.ped@gmail.com   41  1004
14      Mkb.pYetn@gmail.com   11  1007